<li class="
  {% if page.slug == "welcome" %}active{% endif %}
">
  <a href="{{ site.baseurl }}/">Introduction</a>
</li>
<li class="foi
{% if page.slug == "work" %}active{% endif %}
">
  <a href="{{ site.baseurl }}/work/">Work</a>
</li>
<li class="cities
{% if page.slug == "parenting" %}active{% endif %}
">
  <a href="{{ site.baseurl }}/parenting/">Harder work</a>
</li>
<li class="democracy
{% if page.slug == "rest" %}active{% endif %}
">
  <a href="{{ site.baseurl }}/rest/">Rest</a>
</li>
<li class="help
{% if page.slug == "play" %}active{% endif %}
">
  <a href="{{ site.baseurl }}/play/">Play</a>
</li>
<li class="donate">
  <a href="https://www.womensaid.org.uk/donate/">Donate</a>
</li>
