%content-panel {
  padding-left: 27px;
  padding-right: 27px;
  @media (min-width: $large-screen) {
    padding-left: 80px;
    padding-right: 80px;
   }
}



.section {
  display: block; // sections can be <a> elements sometimes!
  @extend %content-panel;
  width: 100%;
  clear: both;
  padding-top: 2em;
  padding-bottom: 2em;

  @media (min-width: $huge-screen) {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 5em;
  }

  a {
    text-decoration: underline;
    font-weight: $body_typeface_bold;

    &:hover,
    &:focus {
      color: $colour_black;
    }
  }

  & > .row {
    width: auto;
  }
}

.section--no-padding {
  padding: 0;
}

.section--no-top-padding {
  padding-top: 0;
}

.section--centred {
  text-align: center;

  & > * {
    width: auto;
  }
}

.section--narrow {  
  @media (min-width: $large-screen) {
    padding-left: 5em;
    padding-right: 5em;
  }
  @media (min-width: $full-width) {
    padding-left: 10em;
    padding-right: 10em;
  }
}

.section--fms-pro {
  background-color: #FED876;
  a {
    color: rgba(0,0,0,0.7);
  }
}

.section--inverted {
  color: #fff; 
  background-color: #333;
  a {
    color: rgba(255,255,255,0.7);
    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }
}

.section--many-requests {
  background-image: url('../img/books-background.jpg');
  @include background-section();
  @include featured-stat();
  a {
    color: #fff;
    &:hover,
    &:active,
    &:focus {
      color: #fff;
    }
  }
}

.section--fms-birthday {
  background-color: $colour_off_white;
  border-top: 1px solid $colour_light_grey;
  border-bottom: 1px solid $colour_light_grey;
  @media (min-width: $huge-screen) {
    margin: 3em 0 0;
  }
}

.fms-birthday-cake {
  max-width: 250px;
  margin: 0 auto;
  display: block;
  width: 100%;
  @media (min-width: $huge-screen) {
    position: relative;
    bottom: 110px;
    margin-bottom: -300px;
    max-width: none;
    display: inline-block;
  }
  @media (min-width: $full-width) {
    bottom: 170px;
    margin-bottom: -300px;
  }

}

.section--better-cities-tweets {
  @include background-section();
  background-image: url('../img/fms-map-blue.jpg');
  @media (min-width: $huge-screen) {
    padding-top: 5em;
  }
}

.section--wikidata,
.section--glow {
  border-top: 1px solid $colour_light_grey;
}

.section--iran {
  background-color: #574db0;
}

.section--share {
  .button + .button {
    margin-left: 1em;
  }
}

.donation-amounts {
  margin: 1.5em 0;
}

.donation-amounts-heading {
  margin-top: 1.5em;
  text-align: center;
}

.section--pombolas {
  h2 {
    text-align: center;
  }
}

.pombolas-screenshot {
  margin-bottom: 2em;
}

.section--donors {
  position: relative;
  text-align: center;
}

.donors-message {
  text-align: left;
  max-width: 30em;
}

.donors-balloons-two {
  width: 50%;
  float: left;
  @media (min-width: $huge-screen) {
    width: 15%;
    position: absolute;
    left: 60px;
    top: 20px;
  }
  @media (min-width: $full-width) {
    width: 300px;
  }
}

.donors-balloons-one {
  width: 50%;
  float: right;
  @media (min-width: $huge-screen) {
    width: 15%;
    position: absolute;
    right: 60px;
    top: 13px;
  }
  @media (min-width: $full-width) {
    width: 300px;
  }
}

.section--2018 {
  background-color: $colour_blue;
  background-image: url('../img/rocket.png');
  background-image: url('../img/rocket.svg'), linear-gradient(-180deg, #4FADED 22%, #3083BA 100%);

  background-position: right bottom;
  background-repeat: no-repeat;
  color: #fff;
  .limit-text {
    margin-left: 0;
    padding-bottom: 2em;
  }
}

.section--vienna ol {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}
.section--vienna li {
    position: relative;
    padding: 0 0 1em 4em;
}
.section--vienna p:last-child {
    margin-bottom: 0;
}
.two-columns li {
    float: left;
    width: 50%;
}
.section--vienna span {
    position: absolute;
    top: 0; left: 0;
    display: block;
    color: #ccc;
}
